
/*Link de cores em hexadecimal:http://erikasarti.net/html/tabela-cores/*/
body {
       background-color: #DCDCDC;
	font-family: Arial, Tahona, sans;
    font-size: 14px
}

div {
	/*border: 1px solid black; Mundei para branco para ajeitar a div*/
	margin: -8px -8px;
}

.Menu a {
	color: white;
	text-decoration: none;
}

.Menu ul li {
	list-style: none;
	display: inline;
	padding: 15px 75px 21px 75px;

}

.Menu li:hover {
	background-color: grey;
}

.Menu {
	width: 100%;
	height: 50px;
	background: black;
	position: fixed;
	margin: -16px -8px;
}

.Sidebar {
	width: 290px;
	height: 550px;
	float: right;
	margin: 44px 0px;
}

.ListaMeta {
	font-size: 20px;
}

.FonteMeta {
	font-size: 10px;
}

.Content {
        background-color:#C0C0C0;
	width: 819px;
	height:1050px;
	float: left;
	margin: 60px 15px;
}

.Content .Artigo {
	width: 790px;
	height: 1000px;
	float: left;
	margin: 16px 16px;

}

.imgprincipal {
	width:740px;
	height:200px;
	margin: 16px 16px;

}

.conteudo {
	width:740px;
	height:750px;
	margin: 16px 0px;

}


}

.conteudo h1  {
	text-align: center;
   	font-style: Arial;
	font-size: 30px;
}

.conteudo p   {
	line-height: 17px;
	text-align: justify;
	padding: 2%;
}



	
/*Cinthia vai mexer aqui
Tudo isso aqui é a div de conteudo para noticiA*/












