body {
	font-family: Arial, Tahona, sans;
    font-size: 62.5%;
    background-color: white;
}

img {
	max-width: 100%;
	float: left;
}

/* Menu */
.Menu a {
	color: white;
	text-decoration: none;
}

.Menu ul li {
	list-style: none;
	display: inline;
	padding: 1% 9% 1.4% 9%;
	font-size: 20px;
}

.Menu li:hover {
	background-color: #696969;
}

.Menu {
	width: 100%;
	height: 50px;
	margin: -8px -8px;
	background: black;
	position: fixed;
}
/*CAPA D PAGINA INICAL*/

.TopImg {
	width: 100%;
	height: 300px;

}


/* Barra Lateral */
.Sidebar {
	width: 20%;
	min-height: 500px;
	float: right;
	margin: 36px 0;
	border-radius: 5px;
}

.ListaMeta h3 {
	font-size: 15px;
	line-height: 0px;
	margin: -4.5% 7%;

}

.ListaMeta li {
	padding: 2px 2px;
}

.ListaMeta h1{
	padding: 2px;
	font-size: 30px;
	text-align: center;


}
.ListaMeta {
	width: 100%;
	height: 20em;
	font-size: 2em;
	background-color: 	#DCDCDC;
	border-radius: 5px;
	margin: 2px -16px;
	box-shadow: 7px 7px 5px #888888;
}

.Content {
	width: 76%;
	min-height: 500px;
	float: left;
	margin: 44px -8px;
}

/* Configurações relacionadas aos posts */
.Content .Article {
	width: 95%;
	height: 18.5em;
	float: left;
	margin: 16px 16px;
	line-height: 2.3em;
	box-shadow: 7px 7px 5px #888888;
}

.conteudo {
	width: 100%;
	height: 100%;
	float: left;
	margin: 2px 2px;
	background-color: #DCDCDC;
	border-radius:5px;
	overflow: hidden;

}

content{
	text-align: justify;
}

.Post p {
	margin: 0px 21px;
	
}

.Post header {
	text-align: center;
}

.Post footer {
	text-align: center;
	font-size: 10px;
}

.Post img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
}

.Post {
	font-size: 1.4em;
}

.Post .postPic {
	width: 300px;
	height: 300px;
	margin: 2%;
	border: 2px black solid;
}

.Post .ReadMore {
	margin: 0px 47%;
}

.ReadMore button {
	background-color: #0066FF;
	color: white;
	font-size: 10px;
	float: right;
}


/*Rodapé*/

.Footer a {
	text-decoration: none;
	color: blue;
}

.Footer {
	width: 101.3%;
	height: 10em;
	margin: -8px;
	background-color: #696969;
	font-size: 1.4em;
	text-align: center;
	color: white;
	line-height: 1em;
	float: left;
}

/* Classes de estrategias.html */
.deckSelect {
	width: 63%;
	height: 70%;
	margin: 8% 30%;
}

.deck img {
	max-width: 93%;
	max-height: 93%;
	margin: 0 3%;
}

.deckSelect h1{
	margin: 25px 30%;

}

.deck a {
	color: blue;
	text-decoration: none;
}

.deck {
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 1.4em;
	float: left;
	margin: 0px 20px;

}

/* Classes de <estrategia>.html */
.Strategy_Matter header {
	font-size: 2.5em;
}

.Strategy_Matter img {
	height: 72.5%;
}

.Strategy_Matter {
	width: 95%;
	height: 100em;
	margin: 3% 2px;
	background-color: #DCDCDC;
	box-shadow: 7px 7px 5px #888888;
	/*border: 1px solid black;*/

}

.ArchetypeText {
	width: 65%;
	height: 95%;
	/*border: 1px solid black;*/
	margin: 1%;
	float: left;
	font-size: 1.4em;
	text-align: justify;
}

.ArchetypeInfo {
	width: 30%;
	height: 40em;
	margin: 1%;
	/*border: 1px solid black;*/
	float: right;
	background-color: #D3D3D3
}

.ArchetypeLang {
	font-size: 1.4em;
	width: 50%;
	height: 1em;
	padding: 4% 0;
	float: left;
	border-bottom: 1px solid black;
}

/* Classes de eventos.html */
.status{
	width: 50%;
	height: 4em;
	margin: 2em 32em;
	background-color: gray;
	box-shadow: 7px 7px 5px #888888;
	border-radius: 12px;
}

.status h1   {
	font-style: Arial;
	text-align:center;
	font-size:20px;
	color: white;
	margin: 0px 0px;
}

.event {
	width: 95%;
	height: 15em;
	margin: 5em 5em;
	background-color: #A9A9A9;
	box-shadow: 7px 7px 5px #888888;
	border-radius: 12px;
}

.event h1  {
	color: white;
	text-align:center;
	font-size:18px;

}

.date   {
	width: 22%;
	height: 86%;
	float:left;
	margin: 10px;
}

.date p  {
	text-align: center;
	font-size: 15px;
}

.name p  {
	text-align: center;
	font-size: 15px;
}

.location p  {
	text-align: center;
	font-size: 15px;
}

.information p  {
	text-align: center;
	font-size: 15px;
}

.name   {
	width: 22%;
	height: 86%;
	float:left;
	margin: 10px;
}

.location   {
	width: 22%;
	height: 86%;
	float:left;
	margin: 10px;
}

.information   {
	width: 22%;
	height: 86%;
	float:left;
	margin: 10px;
}


/* Classes de banlist.html */
.ArticleBanlist {
	width: 100%;
	height: 100%;
	float: left;
	margin: 16px 16px;
	line-height: 25px;
}

.ArticleBanlist .conteudo h1 {
	text-align: center;
}

.ArticleBanlist .conteudo {
	height: 793%;
	line-height: 100%;
}

.ArticleBanlist .conteudo table {
	font-size: 1.4em;
	line-height: 120%;
}

.cardlist_atitle {
	background-color: #666666;
	color: white;
}

.cardlist_monster {
	background-color: #FDE68A;
	color: black;
}

.cardlist_effect {
	background-color: #FF8B53;
	color: black;
}

.cardlist_ritual {
	background-color: #9DB5CC;
	color: black;
}

.cardlist_fusion {
	background-color: #a086b7;
	color: black;
}

.cardlist_synchro {
	background-color: #CCCCCC;
	color: black;
}

.cardlist_xyz {
	background-color: black;
	color: white;
}

.cardlist_spell {
	background-color: #1D9E74;
	color: black;
}

.cardlist_trap {
	background-color: #BC5A84;
}

/*Conteudo da Materia - POST 1*/

.mainimg   {
	width:700px;
	height:300px;
	margin: 0px 14px;

}

.matter{
	width:75%;
	height:1700px;
	margin: 16px 100px;
	box-shadow: 7px 7px 5px #888888;
	float: left;

}

.matter h1  {
	text-align: center;
   	font-style: Arial;
	font-size: 30px;
}

.matter p   {
	line-height: 20px;
	text-align: justify;
	padding: 2%;
	font-size: 15px;
}

}
/*Conteudo da Materia - POST 2*/
.matter li{
	font-size: 18px;
	line-height: 20px;
}



.matter p2 {
	line-height: 20px;
	text-align: justify;
	padding: 2%;
	font-size: 15px;
	float: left;
}

.matter footer {
	float: left;
}

.rules li{
	font-size: 14px;

}

.matter img {
	margin: 10px 25%;

}


.MainDeck h1{
	font-size: 15px;
	line-height: 1px;

}

.main li{
	font-size: 14px;
	list-style: none;
}

.MainDeck {
	width: 45%;
	height: 26em;
	float: left;
	background: #D3D3D3;
}


.ExtraDeck h1{
	font-size: 15px;
	line-height: 1px;

}

.extra li{
	font-size: 14px;
	list-style: none;
	
}


.ExtraDeck {
	width: 45%;
	height: 26em;
	float: right;
	background: #D3D3D3;
}















