body {
	font-family: Arial, Tahona, sans;
    font-size: 14px
}

div {
	border: 1px solid white; /*Mundei para branco para ajeitar a div*/
	margin: -8px -8px;
}

.Menu a {
	color: white;
	text-decoration: none;
}

.Menu ul li {
	list-style: none;
	display: inline;
	padding: 15px 75px 21px 75px;

}

.Menu li:hover {
	background-color: grey;
}

.Menu {
	width: 100%;
	height: 50px;
	background: black;
	position: fixed;
}

.Sidebar {
	width: 290px;
	height: 550px;
	float: right;
	margin: 44px 0px;
}

.ListaMeta {
	font-size: 20px;
}

.FonteMeta {
	font-size: 10px;
}

.Content {
	width: 819px;
	height: 550px;
	float: left;
	margin: 44px -8px;
}

.Content .Artigo {
	width: 790px;
	height: 190px;
	float: left;
	margin: 16px 16px;

}

/*Cinthia vai mexer aqui*/

.AreaConteudo	{
     line-height: 25px;
     border-radius:5px;
     overflow: hidden;
     margin: 10px 0px;
     
}

.conteudo    {
    width: 102%;
    height: 130%;
    float: left;
    margin: 2px 2px;
    background-color: gray;
    
}
/*EU ajeito isso depois*/

















